@charset "utf-8";

#flex-container,
#flex-container-footer
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0 auto; 
}

#flex-container-aids { /* bg for dice, aidstext */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  /* margin: auto; */
  margin: 0 auto;
  padding: 5px;
  height: 236px;
}


#flex-container-aids-text,
#flex-container-todo
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  /* margin: 0 auto; */
  margin: 0 auto; 
}

#flex-container-aidsListing,
#flex-container-ajax,
#flex-container-ajax-form
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;

  /* margin: 0 auto; */
  margin: auto; 
}



#flex-container-roll {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  margin: 0 auto;
  padding-top: 15px;

}

#flex-container-missingnumbers {

  width: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
    
  padding: 5px;

}

.flex-item-missingnumbers {
  width: 50%;
  
  background: red;
  color: white;
  
  padding: 5px;
  
  border: 1px solid white;
}

.flex-item,
.flex-item-aids
{
  /* width: 100px; */
  /* height: 200px; */
  /* border: 1px black solid; */
  /* background: #369; */
}

.flex-item-aids-left,
.flex-item-aids-middle,
.flex-item-aids-right,
.flex-item-todo
{
  text-align: center;
}

.flex-item-button {
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: flex-start;
 /* flex: 0 0 100%; */
}

/* w12, rerun, rerunroll */
.flex-item-aids-middle {
  font-size: 3em;
  font-weight: 600;
  
  /* text-shadow: 2px 2px 3px #000; */
  text-shadow: 15px 15px 25px rgba(0, 0, 0, 0.5), 15px 15px 25px rgba(0, 0, 0, 0.5), -1px -1px 25px rgba(230, 57, 70, 0.5), -1px -1px 88px rgba(219, 127, 103, 0.8);  
}

.flex-item-ajax-form {
  
}




#flex-container-edit {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0 auto;

   
}

.flex-item-edit {
  margin-top: 5px;
  font-weight: 400;
}

