@charset "utf-8";


form#edit {
  /* margin: 50px; */
  /* top, tight, bottom, left */
  margin: 50px 10px 50px 10px;
  padding: 20px;
  border: 1px dashed #000;
  background-color: rgba(0, 0, 0, 0.7)
}



/* FORM */
textarea,
input[type="text"],
input[type="submit"],
input[type="button"],
input[type="number"]
{
  /*
  font-family: inherit;
  */
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  line-height: 1.2em;

  padding: 4px 6px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px groove #846731;

  color: #fff;

  background: url("/img/button_bg.png") no-repeat center center fixed;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

input[type=number]{
    width: 55px;
} 

/* Dark Souls FOnt for Form on aids.php */
#flex-container-ajax-form input::placeholder {
  
  font-family: "Trajan", sans-serif;
  /*
  color: pink;
  */
}


input:active,
input:focus,
textarea:active,
textarea:focus
{
  outline-color: #3f292b;
  outline-style: 2px dotted;
}

/*
input:hover,
textarea:hover {
  outline-color: red;
  outline-style: 5px dashed;
}
*/

/* CHECKBOX */
/*
input[type="checkbox"] {
  width: 60px; 
  height: 50px;
  
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;  
  
  border-radius: 4px;
  background-color: #3F292B;
  background: url("/img/curlup.png");
  
  margin-bottom: -20px;
}

input[type="checkbox"]:checked {
  width: 60px; 
  height: 50px;
  
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;  
  
  border-radius: 4px;
  background-color: #3F292B;
  background: url("/img/praisethesun.png");
}


input[type="checkbox"]:active,
input[type="checkbox"]:focus
{
  outline: none;
}
*/




/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  /* SLIDER BACKGROUND */
  /* background-color: #2d3035; */
  /*
  background-color: rgba(45, 48, 53, 0.1);
  */
  background: rgba(85, 85, 85, 0.3);
  border-radius: 3px;
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(0, 0, 0, 0.2); 
  

  -webkit-transition: .4s;
  transition: .4s;
  
  border: 1px thin #000;
  
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  
  /* SLIDER BUTTON COLOR */
  background-color: #1d1f21;
  
  /*
  background-color: #212121;
  */
  border-radius: 3px;
  border: 1px thin #000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(0, 0, 0, 0.2); 
  
  
  background: url("/img/noise-diagonal-trans2.png");
  
  
  -webkit-transition: .4s;
  transition: .4s;
  
  
}

input:checked + .slider {
  /* SLIDER COLOR CHECKED */
  background-color: #fff;
}

input:checked + .slider:before {
  /* SLIDER BUTTON COLOR CHECKED */
  background-color: #000;
}


input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}




/* EDIT.php */
input[type="text"].edit_input {
  width: 250px;
  resize: horizontal;
}







/** Custom Select **/
.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
}
  .custom-select-wrapper select {
    display: none;
  }
  .custom-select {
    position: relative;
    display: inline-block;
  }
    .custom-select-trigger { /* Button */
      position: relative;
      display: block;
      width: 120px;
      height: 68px;
      /*
      padding: 0 84px 0 22px;
      */
      padding: 5px 30px 5px 5px;
      font-size: 1.7em;
      font-weight: 300;
      /*
      color: #fff;
      */
      line-height: 60px;
      /*
      background: #5c9cd8;
      background: #212021;
      */
      border-radius: 4px;
      cursor: pointer;
      
      
      background-color: #3F292B;
      background: url("/img/button_bg.png");
      border: none;

      font-family: "OptimusPrinceps";
      color: #fefefe;
      text-shadow: 1px 1px 5px #bb754d, 1px 1px 10px #7a4930, -1px -1px 5px #bb754d, -1px -1px 10px #7a4930;

      /*
      text-align: center;
      padding: 5px;
      */
      
    }
      .custom-select-trigger:after {
        position: absolute;
        display: block;
        content: '';
        width: 10px; height: 10px;
        top: 50%; right: 25px;
        margin-top: -3px;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        transform: rotate(45deg) translateY(-50%);
        transition: all .4s ease-in-out;
        transform-origin: 50% 0;
      }
      .custom-select.opened .custom-select-trigger:after {
        margin-top: 3px;
        transform: rotate(-135deg) translateY(-50%);
      }
  .custom-options { /* Options after Dropdown */
    position: absolute;
    display: block;
    top: 100%; left: 0; right: 0;
    min-width: 100%;
    margin: 15px 0;
    /*
    border: 1px solid #b5b5b5;
    */
    border: 1px solid #000;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 2px 1px rgba(0,0,0,.07);
    /*
    background: #fff;
    background: rgba(63, 41, 43, 0.75);
    */
    background: rgba(33, 32, 33, 0.75);
    transition: all .4s ease-in-out;
    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
  }
  .custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
  }
    .custom-options:before {
      position: absolute;
      display: block;
      content: '';
      bottom: 100%; right: 25px;
      width: 7px; height: 7px;
      margin-bottom: -4px;
      /*
      border-top: 1px solid #b5b5b5;
      border-left: 1px solid #b5b5b5;
      */
      border-top: 1px solid #000;
      border-left: 1px solid #000;
      /*
      background: #fff;
      */
      background: #212021;
      transform: rotate(45deg);
      transition: all .4s ease-in-out;
    }
    .option-hover:before {
      /*
      background: #f9f9f9;
      */
      background: #212021;
    }
    .custom-option {
      position: relative;
      display: block;
      padding: 0 22px;
      /*
      border-bottom: 1px solid #b5b5b5;
      */
      border-bottom: 1px solid #000000;
      font-size: 18px;
      font-weight: 600;
      color: #b5b5b5;
      line-height: 47px;
      cursor: pointer;
      transition: all .4s ease-in-out;
    }
    .custom-option:first-of-type {
      border-radius: 4px 4px 0 0;
    }
    .custom-option:last-of-type {
      border-bottom: 0;
      border-radius: 0 0 4px 4px;
    }
    .custom-option:hover,
    .custom-option.selection {
      /*
      background: #f9f9f9;
      */
      background: #212021;
    }


/* Select Game Dropdown */
#selectGame {
  background: rgba(22, 22, 22, 0.3);
  color: white;
  border: none;
}
#selectGame * {
  background: black;
  color: white;
  border: none;

}

/* Force lowercase on field */
form input[type="text"]#abbr,
form input[type="text"]#newAbbr
{
  text-transform: lowercase;
}

/* Cursor for disabled field */
form input.disabled {
  cursor: not-allowed;
}