@charset "utf-8";

/* FORM */
/* input[type=text] { */
textarea,
input[type="text"],
input[type="submit"],
input[type="button"],
input[type="number"]
{
  font-family: inherit;
  font-size: 1.02em;

  padding: 4px 6px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px groove #846731;

  color: #fff;

  background: url("/img/button_bg.png") no-repeat center center fixed;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

input[type=number]{
    width: 55px;
} 


/*
input[type=text]:active,
input[type=text]:focus
*/

input:active,
input:focus,
textarea:active,
textarea:focus
{
  outline-color: #3f292b;
  outline-style: 2px dotted;
}

/*
input:hover,
textarea:hover {
  outline-color: red;
  outline-style: 5px dashed;
}

input.invalid {
  border-color: red;
}
*/

/*
input[type=checkbox] {
  border: 1px dashed #000;
  background-color: rgba(0, 0, 0, 0.7)
}
*/

/* CHECKBOX */
input[type="checkbox"] {
  /*
  appearance: none;
  transform: scale(1.5);
  */
  /*
  width: 80px;
  height: 16px; 
  */
  
  
  width: 30px; /*Desired width*/
  height: 20px; /*Desired height*/
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;  
  
  /* box-sizing: border-box; */
  
  /*
  background: white;
  border: 1px solid #000;
  */
  /* border-radius: 10px; */
  
  
  border-radius: 4px;
  background-color: #3F292B;
  /* background-color: #434343; */
  /* background: url("/img/noise-diagonal-trans.png"); */
  background: url("/img/button_bg.png");
  
  filter: contrast(0) sepia(50%) hue-rotate(20deg) brightness(1.9) saturate(0.28); 
}

input[type="checkbox"]:checked {
  background: #3f292b;
  border: 2px dashed;
}




form#edit {
  /* margin: 50px; */
  /* top, tight, bottom, left */
  margin: 50px 10px 50px 10px;
  padding: 20px;
  border: 1px dashed #000;
  background-color: rgba(0, 0, 0, 0.7)
}


