@charset "utf-8";

/* Dark Souls 3 Menu Font Style */
@font-face {
	font-family: "Trajan";
	src: url("/fonts/TrajanProRegular.ttf");
	src: local("Trajan"), url("/fonts/TrajanProRegular.ttf") format("truetype");
}

/* Dark Souls Logo Font Style */
@font-face {
	font-family: "OptimusPrinceps";
	src: url("/fonts/OptimusPrinceps.ttf");
	src: local("OptimusPrinceps"), url("/fonts/OptimusPrinceps.woff") format("woff"), url("/fonts/OptimusPrinceps.ttf") format("truetype");
}

/* Dark Souls 1 Menu Font Style */
@font-face {
	font-family: "ds1";
	src: url("/fonts/Soul_Font.ttf");
	src: local("ds1"), url("/fonts/Soul_Font.ttf") format("truetype");
}


/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_1045">Text with this font applied</p> */
.dsfontwww {
	font-family: "OptimusPrinceps" !important;
}

/* Border fix */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}




html {
  font-family: "Trajan", sans-serif;
  font-size: 100%;
  
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%; 
  -ms-text-size-adjust: 100%;
  
  background-color: #000;
  
  /* DS3 Wallpaper */
  background: url("/img/bg/shrine.jpg") no-repeat center center fixed;
  
  /* DS1 Remaster */
  /* background: url("/img/bg/ds1remaster.jpg") no-repeat center center fixed; */
  
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  /* Firefox Cover Fix */
  /*
  min-height: 100%;
  */

	margin: 0;
	padding: 0;
	
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  
  /* overflow: hidden; */
}

body {
}

body#edit {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  line-height: 1.2em;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

header {
  text-align: center;
}

header img {
  margin-bottom: -18px;
}


nav {
  text-align: center;
}

footer {
  text-align: center;
  background-color: rgba(0,0,0,0.1);
}


strong {
	font-weight: bold; 
}


em {
	font-style: italic; 
}


a, a:link, a:visited {
  color: inherit;
	text-decoration: none;
  text-shadow: 1px 1px 2px #000; /* FOR EMOJI IMAGES IN TABLE */  
}


a:hover, a:focus, a:active {
  color: #fff;
  text-shadow: 1px 1px 5px #bb754d, 1px 1px 10px #7a4930, -1px -1px 5px #bb754d, -1px -1px 10px #7a4930;
}


a[href^="mailto:"]:before { content: "\2709"; }
.phone:before             { content: "\2706"; }
.tel:before               { content: "\2706"; }
.important:before         { content: "\27BD"; }
blockquote:before         { content: "\275D"; }
blockquote:after          { content: "\275E"; }
.alert:before             { content: "\26A0"; }

/*
::selection {
  background-color: #3E363F;
  color: #ffffff;
}
*/

ul, ol, dl {
	padding: 0;
	margin: 0;
	border: 0;
  list-style: none;
}


h1, h2, h3, h4, h5, h6 {
  color: #efefef;
	font-weight: bold; 
  text-shadow: 1px 1px 5px #bb754d, 1px 1px 10px #7a4930, -1px -1px 5px #bb754d, -1px -1px 10px #7a4930;
  
  margin: 0;
  padding: 0;
}


h1 { font-size: 3.0em; line-height: 1em; }
h2 { font-size: 2.5em; line-height: 2em; }
h3 { font-size: 1.7em; line-height: 1.5em; }
h4 { font-size: 1.5em; line-height: 1.5em; }
h5 { font-size: 2.5em; line-height: 1.5em; }
h6 { font-size: 1.1em; line-height: 1em; }


h1, h2, h4, h5 {
  font-family: "OptimusPrinceps";
}


h1, h5 {
  text-align: center;
}

h5#Kills {
  margin-bottom: -25px;
}


img, a img { 
	border: none;
}


hr {
  background: url("/img/hr.png") round;
  height: 20px;
  border: 0;
}


.container {
	width: 95%;

	max-width: 1260px;
	min-width: 780px;
  
	margin: 0 auto;
}


.content {
	width: 90%; /* 90% of .container */
	margin: 0 auto;
  margin-top: 10px;
}

.header_Edit {
  margin-top: 10px;
}


div.aidscontent,
div.aidsListing
{
  width: 80%; /* % of .container !IMPORTANT 70 default */ 
	/* max-width: 60%; */
	margin: 0 auto;
  
}

div.aidscontent,
div.aidsListing,
div#todo
{
  border: 25px solid transparent;
  border-image: url("/img/border.png") 30 round;
  
  background: url("/img/ds3-asset-bg.png") no-repeat center center scroll;
  -moz-background-size: 120% 120%;
  -webkit-background-size: 120% 120%;
  background-size: 120% 120%;
  
  padding: 15px;
}

#todo {
  width: 60%;
  margin: 0 auto;
  /* text-align: center; */
  white-space: pre-wrap;
}

/* Inline Edit Fix */
#todo:active,
#todo:focus
{
  color: #fff;
  
  /* outline-color: #3f292b; */
  outline-color: #fff;
  outline-style: 9px dotted;
}


/*
.bonfire:hover:after {
  content: "\25BA";
}
*/


/* Reroll Fade-In */
.aidscontent, .rerunroll {
  -webkit-animation: fade-in 2s ease;
  -moz-animation: fade-in ease-in-out 2s both;
  -ms-animation: fade-in ease-in-out 2s both;
  -o-animation: fade-in ease-in-out 2s both;
  animation: fade-in 2s ease;
  visibility: visible;
  -webkit-backface-visibility: hidden;
}

@-webkit-keyframes fade-in{0%{opacity:0;} 100%{opacity:1;}}
@-moz-keyframes fade-in{0%{opacity:0} 100%{opacity:1}}
@-o-keyframes fade-in{0%{opacity:0} 100%{opacity:1}}
@keyframes fade-in{0%{opacity:0} 100%{opacity:1}}


/*
.rerunFont {
  font-size: 3em;
  font-weight: 600;
  text-align: center;
  
  text-shadow: 2px 2px 3px #000;
  
  text-shadow: 1px 1px 25px rgba(239, 35, 60, 0.5), 1px 1px 25px rgba(122, 73, 48, 0.5), -1px -1px 25px rgba(230, 57, 70, 0.5), -1px -1px 88px rgba(217, 4, 41, 0.5);   
}
*/


.superaids {
  font-size: 0.6em;
  line-height: 1em;
  text-shadow: 1px 1px 25px rgba(239, 35, 60, 0.5), 1px 1px 25px rgba(122, 73, 48, 0.5), -1px -1px 25px rgba(230, 57, 70, 0.5), -1px -1px 88px rgba(217, 4, 41, 0.5);  

}


ul.aidsList { /* UP FOR Mobs, Boss, Weapons Aids */
  list-style: decimal outside;
  display: table;
  font-size: 1.1em;
  margin: 2px 15px 2px 15px;
}

ul.aidsList > li {
  /*
  padding-left: 5px;
  padding-right: 5px;
  */
  border: 1px solid transparent; /* fix hover */
}

/* prevent new line break in ajax editable content */
ul.aidsList > li br {
  display: inline;
  display: none;
  list-style: none; /* No list style of Br happens for some reason */
}

ul.aidsList > li:hover {
  border: 1px groove #846731;
}
ul.aidsList > li:active,
ul.aidsList > li:focus
{
  color: #fff;
  
  outline-color: #3f292b;
  outline-style: 2px dotted;
  
  background: url("/img/button_bg.png") no-repeat center center fixed;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



li.noListStyle {
  list-style: none;
}

.wrap {
  width: 765px;
  margin: 0 auto;
}

.aidsText, .weaponText {
  font-size: 1.6em;
  line-height: 2em;
  
  white-space: nowrap;
  
  font-weight: bold;
  text-shadow: 1px 1px 25px rgba(239, 35, 60, 0.5), 1px 1px 25px rgba(122, 73, 48, 0.5), -1px -1px 25px rgba(230, 57, 70, 0.5), -1px -1px 88px rgba(217, 4, 41, 0.5);  
}


.edit_ID {
  color: #6F6B6B;
  opacity: 0.2;
}

#w12 {
  font-size: 1em; /* Normalize font size for middle div, see flex-item-aids-middle */
}

.dice {
  height: 236px;
}


img.dice {
  /* filter: contrast(0) sepia(50%) hue-rotate(20deg) brightness(1.9) saturate(0.28); */ /* Turn black dice white */
  
  width: 100px;
  height: 100px;
}



img.dice,
.die,
.dice_wrapper
{
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
}
img.dice:hover,
.die:hover,
.dice_wrapper:hover
{
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  
}


.die {
  /*
  ALSO CHECKBOX IMAGE SIGN HAKE FÜR CHECKED
  */
  width: 100px;
  height: 100px;
  
  font-size: 5em;
  line-height: 100px;
  color: black;
  text-shadow: 1px 1px 10px black;
  background: white;   
  border-radius: 15px;
  border: 1px solid chocolate;
  /*
  box-shadow: 1px 1px 5px #fff, 1px 1px 2px #000, -1px -1px 1px #bb754d, -1px -1px 2px #fff;
  */
}

:root {
  --dice-size: 125px;
}

.dice_wrapper {
  /*
  font-family: "Trajan";
  font-family: "OptimusPrinceps";
  font-family: "ds1";
  */
  font-family: inherit;

  width: var(--dice-size);
  height: var(--dice-size);
  line-height: var(--dice-size); /* the same div height */
  font-size: 5em;
  font-weight: normal;

  color: black;
  text-shadow: 1px 1px 10px black;
  /*
  text-align: center;
  vertical-align: middle;
  */
  opacity: 1;

  display: flex;

  background: url("/dice/dice.png") no-repeat center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;


  /*
  border-radius: 15px;
  border: 1px solid chocolate;  
  */
}

/* Append to disable user select */
.user-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Center font on mobile fix */
.dice_wrapper-font {
  margin: 0 auto;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/*
.animate_rotate {
    -webkit-animation: animaterotate 0.6s;
    animation: animaterotate 0.6s
}

@-webkit-keyframes animaterotate {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animaterotate {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
*/

/* DICE ROLL ANIMATION */
/*
.animate_rotate {
    -webkit-animation: spin 1s;
    animation: spin 1s
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
*/





/***TEST***/

.animate_rotate {


    /* The animation part: */
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.rotatingimg{transition: transform 2s;}
.rotatingimg:hover{transform:rotate(360deg);}





img.edit_icon {
  filter: contrast(0) sepia(50%) hue-rotate(20deg) brightness(1.9) saturate(0.28);
}


#ajax-form-button {
  text-align: center;
  display: none;
}

#reroll_hover {
  
}


#status, #jsstatus {
  /*
  color: #006100;
  */
  color: white;
  background-color: #5cb85c;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /*
  background-color: red;
  color: white;
  */
  text-align: center;
  display: none;
}



#jsstatus {
  top: 0;
  left: 0;
  bottom: auto;
  width: 100%;
}

#status_song {
  color: white;
  background: rgba(33, 32, 33, 0.75);
  width: 100%;
  /*
  background-color: red;
  color: white;
  */
  text-align: center;
  display: none;
}





#fullscreen {
  display: none;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
}


.checkbox_center {
  text-align: center;
  align-content: center;
  align-items: center;
}


/* Bonfire Play Button */
.itemsContainer {
  /* background:red; */
  float: left;
  position: relative;
}
.itemsContainer:hover .play {
  display: block;
}
.play {
  position: absolute;
  display: none;
  top: 68%; 
  width: 40px;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  z-index: 100;
  cursor: pointer;
  white-space: nowrap;
} 


/* For quick column layout */
.table, .row, .col {
  /*
  outline: 1px solid #22FF00;
  */
}
.table {
  width: 50%;
}
.row {
  display: flex;
  white-space: nowrap;
}

.col {
  flex: 1;
}




/* MODAL */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  /* background-color: green; */
  /* background-color: rgba(0,0,0,0.4); */
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  /* border: 1px solid #888; */
  /* width: 80%; */ /* Could be more or less, depending on screen size */
  /* width: 937px;*/
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 2em;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}


/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
/*
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
*/
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}










/* COLLAPSIBLE */
.collapsible {
  background-color: rgba(0, 0, 0, 0.7);
  
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  /* font-size: 15px; */
  
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;

}

.collapsible-head {
  font-family: "Trajan";
  font-size: 1.5em;
  color: white;
}

.active, .collapsible:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.collapsible-content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  /*  
  background-color: #f1f1f1;
  */
  /* border: 25px solid transparent; */
  background-color: rgba(0, 0, 0, 0.4);

  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;

}



  /* Style to reverse the caret icon from pointing downwards to upwards */
  .caret.caret-up {
    border-top-width: 0;
    border-bottom: 4px solid #fff;
  }



.amp {
font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
font-style: italic;
font-weight: normal;
}





.delete {
  color: red;
  display: none;
  float: right;
}
.title:hover .delete {
  display:block;
}









/* DEBUG */
/*
* {
  border-style: groove;
  border-color: chartreuse;
  border-width: 1px;
}
*/

/*
* {
  outline: 1px solid red;
}
*/