@charset "utf-8";

@font-face {
	font-family: "Trajan";
	src: url("/fonts/TrajanProRegular.ttf");
	src: local("Trajan"), url("/fonts/TrajanProRegular.ttf") format("truetype");
}

/* Dark Souls Font Style */
@font-face {
	font-family: "OptimusPrinceps";
	src: url("/fonts/OptimusPrinceps.ttf");
	src: local("OptimusPrinceps"), url("/fonts/OptimusPrinceps.woff") format("woff"), url("/fonts/OptimusPrinceps.ttf") format("truetype");
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_1045">Text with this font applied</p> */
.fontsforweb_fontid_1045 {
	font-family: "OptimusPrinceps" !important;
}

html {
  font-family: "Trajan", sans-serif;
  font-size: 100%;
  
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%; 
  -ms-text-size-adjust: 100%;
  
  background: url("/img/ds3bg/shrine2.jpg") no-repeat center center fixed;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

	margin: 0;
	padding: 0;
	
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  
  /* overflow: hidden; */
}

body {
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

header {
  text-align: center;
}

header img {
  margin-bottom: -18px;
}


nav {
  text-align: center;
}

footer {
  text-align: center;
}


strong {
	font-weight: bold; 
}


em {
	font-style: italic; 
}


a, a:link, a:visited {
  color: inherit;
	text-decoration: none;
  text-shadow: 1px 1px 2px #000; /* FOR EMOJI IMAGES IN TABLE */  
}


a:hover, a:focus, a:active {
  color: #fff;
  text-shadow: 1px 1px 5px #bb754d, 1px 1px 10px #7a4930, -1px -1px 5px #bb754d, -1px -1px 10px #7a4930;
}


ul, ol, dl {
	padding: 0;
	margin: 0;
	border: 0;
  list-style: none;
}


h1, h2, h3, h4, h5, h6 {
  color: #efefef;
	font-weight: bold; 
  text-shadow: 1px 1px 5px #bb754d, 1px 1px 10px #7a4930, -1px -1px 5px #bb754d, -1px -1px 10px #7a4930;
  
  margin: 0;
  padding: 0;
}


h1 { font-size: 3.0em; line-height: 1em; }
h2 { font-size: 2.5em; line-height: 2em; }
h3 { font-size: 1.7em; line-height: 1.5em; }
h4 { font-size: 1.5em; line-height: 1.5em; }
h5 { font-size: 2.5em; line-height: 1.5em; }
h6 { font-size: 1.1em; line-height: 1em; }


h1, h2, h4, h5 {
  font-family: "OptimusPrinceps";
}


h1, h5 {
  text-align: center;
}

h5#Kills {
  margin-bottom: -25px;
}


img, a img { 
	border: none;
}


hr {
  background: url("/img/hr.png") round;
  height: 20px;
  border: 0;
}



.container {
	width: 95%;
	max-width: 1260px;
	min-width: 780px;

	margin: 0 auto;
}


.content {
	width: 90%; /* 90% of .container */
	margin: 0 auto;
  margin-top: 10px;
}

.header_Edit {
  margin-top: 10px;
}




div.aidscontent, div.aidsListing {
  width: 70%; /* % of .container !IMPORTANT */ 
	/* max-width: 60%; */
	margin: 0 auto;
  
}

div.aidscontent, div.aidsListing {
  border: 25px solid transparent;
  border-image: url("/img/border.png") 30 round;
  
  background: url("/img/ds3-asset-bg.png") no-repeat center center scroll;
  -moz-background-size: 120% 120%;
  -webkit-background-size: 120% 120%;
  background-size: 120% 120%;
  
  padding: 15px;
}

/*
.bonfire:hover:after {
  content: '\25BA';
}
*/

/* Reroll Fade-In */
.aidscontent, .rerunroll {
  -webkit-animation: fade-in 2s ease;
  -moz-animation: fade-in ease-in-out 2s both;
  -ms-animation: fade-in ease-in-out 2s both;
  -o-animation: fade-in ease-in-out 2s both;
  animation: fade-in 2s ease;
  visibility: visible;
  -webkit-backface-visibility: hidden;
}

@-webkit-keyframes fade-in{0%{opacity:0;} 100%{opacity:1;}}
@-moz-keyframes fade-in{0%{opacity:0} 100%{opacity:1}}
@-o-keyframes fade-in{0%{opacity:0} 100%{opacity:1}}
@keyframes fade-in{0%{opacity:0} 100%{opacity:1}}


/*
.rerunFont {
  font-size: 3em;
  font-weight: 600;
  text-align: center;
  
  text-shadow: 2px 2px 3px #000;
  
  text-shadow: 1px 1px 25px rgba(239, 35, 60, 0.5), 1px 1px 25px rgba(122, 73, 48, 0.5), -1px -1px 25px rgba(230, 57, 70, 0.5), -1px -1px 88px rgba(217, 4, 41, 0.5);   
}
*/


.superaids {
  font-size: 0.6em;
  line-height: 1em;
  text-shadow: 1px 1px 25px rgba(239, 35, 60, 0.5), 1px 1px 25px rgba(122, 73, 48, 0.5), -1px -1px 25px rgba(230, 57, 70, 0.5), -1px -1px 88px rgba(217, 4, 41, 0.5);  

}


ul.aidsList { /* UP FOR Mobs, Boss, Weapons Aids */
  list-style: decimal inside;
  display: table;
  font-size: 1.1em;
  margin: 2px;
}

ul.aidsList > li {
  /*
  padding-left: 5px;
  padding-right: 5px;
  */
}

li.noListStyle {
  list-style: none;
}

.wrap {
  width: 765px;
  margin: 0 auto;
}

.aidsText, .weaponText {
  font-size: 1.6em;
  line-height: 2em;
  
  font-weight: bold;
  text-shadow: 1px 1px 25px rgba(239, 35, 60, 0.5), 1px 1px 25px rgba(122, 73, 48, 0.5), -1px -1px 25px rgba(230, 57, 70, 0.5), -1px -1px 88px rgba(217, 4, 41, 0.5);  
}


.edit_ID {
  color: #6F6B6B;
  opacity: 0.2;
}

#w12 {
  font-size: 1em; /* Normalize font size for middle div, see flex-item-aids-middle */
}

.dice {
  height: 236px;
}


img.dice {
  /* filter: contrast(0) sepia(50%) hue-rotate(20deg) brightness(1.9) saturate(0.28); */ /* Turn black dice white */
  
  width: 100px;
  height: 100px;
}

img.edit_icon {
  filter: contrast(0) sepia(50%) hue-rotate(20deg) brightness(1.9) saturate(0.28);
}


#ajax_form {
  text-align: center;
  margin: 5px;
}



/* DEBUG */


* {
  border-style: groove;
  border-color: chartreuse;
  border-width: 1px;
}
