@charset "utf-8";

/* Dark Souls 3 Menu Font Style */
@font-face {
	font-family: "Trajan";
	src: url("/fonts/TrajanProRegular.ttf");
	src: local("Trajan"), url("/fonts/TrajanProRegular.ttf") format("truetype");
}

/* Dark Souls Logo Font Style */
@font-face {
	font-family: "OptimusPrinceps";
	src: url("/fonts/OptimusPrinceps.ttf");
	src: local("OptimusPrinceps"), url("/fonts/OptimusPrinceps.woff") format("woff"), url("/fonts/OptimusPrinceps.ttf") format("truetype");
}

/* Dark Souls 1 Menu Font Style */
@font-face {
	font-family: "ds1";
	src: url("/fonts/Soul_Font.ttf"); /* https://drive.google.com/file/d/0B2d2i4EXszhtWmp1UzdLd051bDA/view */
	src: local("ds1"), url("/fonts/Soul_Font.ttf") format("truetype");
}


/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_1045">Text with this font applied</p> */
.trajan {
	font-family: "OptimusPrinceps" !important;
}

/* Border fix */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}




html {
  font-family: "Trajan", sans-serif;
  font-size: 100%;
  
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%; 
  -ms-text-size-adjust: 100%;

	margin: 0;
	padding: 0;
	
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}


body {
  /*
  min-height: 100%;
  */
}

body#edit {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  line-height: 1.2em;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

header {
  text-align: center;
}

header img {
  margin-bottom: -18px;
}


nav {
  text-align: center;
}


footer {
  text-align: center;
  margin: 25px 0;
}


strong {
	font-weight: bold; 
}


em {
	font-style: italic; 
}


a, a:link, a:visited {
  color: inherit;
	text-decoration: none;
  text-shadow: 1px 1px 2px #000; /* FOR EMOJI IMAGES IN TABLE */  
}


a:hover, a:focus, a:active {
  color: #fff;
  text-shadow: 1px 1px 5px #bb754d, 1px 1px 10px #7a4930, -1px -1px 5px #bb754d, -1px -1px 10px #7a4930;
}


a[href^="mailto:"]:before { content: "\2709"; }
.phone:before             { content: "\2706"; }
.tel:before               { content: "\2706"; }
.important:before         { content: "\27BD"; }
blockquote:before         { content: "\275D"; }
blockquote:after          { content: "\275E"; }
.alert:before             { content: "\26A0"; }

/*
::selection {
  background-color: #3E363F;
  color: #ffffff;
}
*/

ul, ol, dl {
	padding: 0;
	margin: 0;
	border: 0;
  list-style: none;
}


h1, h2, h3, h4, h5, h6 {
  color: #efefef;
	font-weight: bold; 
  text-shadow: 1px 1px 5px #bb754d, 1px 1px 10px #7a4930, -1px -1px 5px #bb754d, -1px -1px 10px #7a4930;
  
  margin: 0;
  padding: 0;
}


h1 { font-size: 2.7em; line-height: 1em; }
h2 { font-size: 2.5em; line-height: 2em; }
h3 { font-size: 1.7em; line-height: 1.5em; }
h4 { font-size: 1.5em; line-height: 1.5em; }
h5 { font-size: 2.5em; line-height: 1.5em; }
h6 { font-size: 1.1em; line-height: 1em; }


h1, h2, h4, h5 {
  font-family: "OptimusPrinceps";
}


h1, h5 {
  text-align: center;
}

h5#Kills {
  margin-bottom: -25px;
}


img, a img { 
	border: none;
}


hr {
  background: url("/img/hr.png") round;
  height: 20px;
  border: 0;
}



.container {
	width: 95%;

	max-width: 1260px;
	min-width: 780px;
  
	margin: 0 auto;
}


.content {
	width: 90%; /* 90% of .container */
	margin: 0 auto;
  margin-top: 10px;
}

.header_Edit {
  margin-top: 10px;
}


div.aidscontent,
div.aidsListing
{
  width: 80%; /* % of .container !IMPORTANT 70 default */ 
	/* max-width: 60%; */
	margin: 0 auto;
  
}

div.aidscontent,
div.aidsListing,
div#todo
{
  border: 25px solid transparent;
  border-image: url("/img/border.png") 30 round;
  
  background: url("/img/ds3-asset-bg.png") no-repeat center center scroll;
  
  -webkit-background-size: 120% 120%;
  -moz-background-size: 120% 120%;
  -o-background-size: 120% 120%;
  background-size: 120% 120%;
  
  padding: 15px;
}



/* Reroll Fade-In */
.aidscontent, .rerunroll {
  -webkit-animation: fade-in 2s ease;
  -moz-animation: fade-in ease-in-out 2s both;
  -ms-animation: fade-in ease-in-out 2s both;
  -o-animation: fade-in ease-in-out 2s both;
  animation: fade-in 2s ease;
  visibility: visible;
  -webkit-backface-visibility: hidden;
}

@-webkit-keyframes fade-in{0%{opacity:0;} 100%{opacity:1;}}
@-moz-keyframes fade-in{0%{opacity:0} 100%{opacity:1}}
@-o-keyframes fade-in{0%{opacity:0} 100%{opacity:1}}
@keyframes fade-in{0%{opacity:0} 100%{opacity:1}}


.superaids {
  font-size: 0.6em;
  line-height: 1em;
  text-shadow: 1px 1px 25px rgba(239, 35, 60, 0.5), 1px 1px 25px rgba(122, 73, 48, 0.5), -1px -1px 25px rgba(230, 57, 70, 0.5), -1px -1px 88px rgba(217, 4, 41, 0.5);  

}


ul.aidsList { /* UP FOR Mobs, Boss, Weapons Aids */
  list-style: decimal outside;
  display: table;
  font-size: 1.1em;
  margin: 2px 15px 2px 15px;
}

ul.aidsList > li {
  border: 1px solid transparent; /* fix hover */
}

/* prevent new line break in ajax editable content */
ul.aidsList > li br {
  display: inline;
  display: none;
  list-style: none; /* No list style of Br happens for some reason */
}

ul.aidsList > li:hover {
  border: 1px groove #846731;
}
ul.aidsList > li:active,
ul.aidsList > li:focus
{
  color: #fff;
  
  outline-color: #3f292b;
  outline-style: 2px dotted;
}


/* DELETE HOVER */
.aidsList img {
  color: red;
  display: none;
  
  float: right;
  
}
.aidsList:hover img {
  display: block;
  margin-left: 200px;
}
.aidsList:hover {
  /*
  white-space: nowrap;#######################################
  */
}


li.noListStyle {
  list-style: none;
}

.wrap {
  width: 765px;
  margin: 0 auto;
}

.aidsText, .weaponText {
  font-size: 1.6em;
  line-height: 2em;
  
  white-space: nowrap;
  
  font-weight: bold;
  text-shadow: 1px 1px 25px rgba(239, 35, 60, 0.5), 1px 1px 25px rgba(122, 73, 48, 0.5), -1px -1px 25px rgba(230, 57, 70, 0.5), -1px -1px 88px rgba(217, 4, 41, 0.5);  
}


.edit_ID {
  color: #6F6B6B;
  opacity: 0.2;
}

#w12 {
  font-size: 1em; /* Normalize font size for middle div, see flex-item-aids-middle */
}

#randomDiceOut {
  width: 100px;
  height: 100px;
  line-height: 100px;
  
  font-size: 1.2em;

  background: url("/dice/dice_template.png") no-repeat center;
  
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  
  cursor: pointer;
}

#randomDiceOut.stat, .stat {
  width: initial;
  height: initial;
  min-height: 120px;
  line-height: initial;
  
  font-size: 2em;
  
  /* remove Dice Background etc */
  background: none;
}

.dice {
  height: 236px;
}


img.dice {  
  width: 100px;
  height: 100px;
}



img.dice,
.die,
.dice_wrapper
{
  transition-duration: 0.8s;
  transition-property: transform;
}
img.dice:hover,
.die:hover,
.dice_wrapper:hover
{
  /*
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  */
  cursor: pointer;
}


.dice_wrapper.is-flipped {
  transform: rotateY(180deg);
}

:root {
  --dice-size: 125px;
}

.dice_wrapper {
  overflow: visible;
  
  font-family: inherit;

  width: var(--dice-size);
  height: var(--dice-size);
  line-height: 1em;
  
  opacity: 1;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  
  padding: 0;
  margin: 0;

  background: url("/dice/dice_brown.png") no-repeat center;
  
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}


/* Center font on mobile fix */
#mobsRNG, #mobsRNG img,
#bossRNG, #bossRNG img
{
  text-align: center; /* center non flex-items */
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.diceText {
  font-size: 5em;
  
  line-height: var(--dice-size);
  
  transform: rotateY(180deg); /* Counter transform from card flip effect */
  
}


/* Append to disable user select */
.user-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


img.edit_icon {
  filter: contrast(0) sepia(50%) hue-rotate(20deg) brightness(1.9) saturate(0.28);
}


#ajax-form-button {
  text-align: center;
  display: none;
}


#status, #jsstatus {
  color: white;
  background-color: #5cb85c;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: none;
}



#jsstatus {
  top: 0;
  left: 0;
  bottom: auto;
  width: 100%;
}

#status_song {
  color: white;
  background: rgba(33, 32, 33, 0.75);
  width: 100%;
  text-align: center;
  display: none;
}


#fullscreen {
  display: none;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
}


.checkbox_center {
  text-align: center;
  align-content: center;
  align-items: center;
}


/* Bonfire Play Button */
.itemsContainer {
  /* background:red; */
  float: left;
  position: relative;
}

.itemsContainer:hover .play {
  display: block;
}

.play {
  position: absolute;
  display: none;
  top: 68%; 
  width: 40px;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  z-index: 100;
  cursor: pointer;
  white-space: nowrap;
} 


/* For quick column layout */
.table, .row, .col {
  /*
  outline: 1px solid #22FF00;
  */
}
.table {
  width: 50%;
}
.row {
  display: flex;
  white-space: nowrap;
}

.col {
  flex: 1;
}


/* MODAL */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
  /* background-color: green; */
  /* background-color: rgba(0,0,0,0.4); */
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  /* border: 1px solid #888; */
  /* width: 80%; */ /* Could be more or less, depending on screen size */
  /* width: 937px;*/
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 2em;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}  
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}


.delete,
.edit-data
{
  color: red;
  display: none;
  float: right;
}
.title:hover .delete,
.title:hover .edit-data
{
  display: block;
}



.divider {
  height: 250px;
  width: 99%;
}


.diceIconPath-font {
  font-size: 2em;
}



/* TABLE EDIT AIDS.PHP ?????? @@@@@@@ DEBUG TODO */
table.edit td > div img {
  display: none;
}
table.edit td:hover > div img {
  display: inline-block;
}


#config {
  display: flex;
  align-items: center;
  justify-content: center;
  
  line-height: 1.5em;  
}
#config ul {
  background-color: rgba(0,0,0,0.7);
  padding: 10px;
  
  border-radius: 25px;
  border: 1px solid white;
  
  box-shadow: 1px 1px 1px #bb754d, 1px 1px 1px #7a4930, -1px -1px 1px #bb754d, -1px -1px 1px #7a4930;
  
}


.killsList {
  /* list-style: circle outside; */
  list-style: square outside;
  display: table;
  
  margin-left: 10px;
}




/* EDIT SIDE NAV */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(17, 17, 17, 0.7);
  overflow-x: hidden;
  transition: 0.5s;
  
  padding-top: 60px;
}

.sidenav-icon {
  font-size: 2em;
  cursor: pointer;
  
  position: fixed;  
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav-toplink {
  font-size: 1.5em;
  line-height: 2em;
  font-weight: bold;
}
.sidenav-active,
.sidenav-active a,
.sidenav-active a:active
{
  text-decoration: underline;
  font-size: 5em;
  color: red;
  background: #212121;
}

.sidenav-active:before {
  margin-right: 5px;
  content: "\00bb";
}


#main {
  transition: margin-left .5s;
  padding: 16px;

  height: 100%;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}




ul.autocomplete {
  list-style: decimal outside;
  text-align: left;
  
  margin: 5px;
  padding: 10px 40px;
  
  background-color: rgba(0,0,0,0.6);

}


.text-center {
  text-align: center;
}

.number-font {
  font-family: "Varela Round", sans-serif;
}



.max-width-height {
  max-width: 500px;
  max-height: 500px;
}

img.border {
  border: 1px solid #846731;
}


.error {
  width: 99%;
  background: red;
  font: white;
  border: 1px solid white;
  
  margin: 5px;
  padding: 5px;
}


tr.active_game {
  background-color: rgba(0,255,0,0.2);
}

/* Resize IMG and keep aspect ratio:
* Max width and height: ~125px;
*/
#mobsRNG img,
#bossRNG img
{
  display: block;
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: auto;
}

.cursor-move {
  cursor: move;
}

/* Class for smaller Fontawesome */
.fontawesome-small {
  font-size: 75%;
}

/* DEBUG */
/*
* {
  -o-transition-property: none !important;
  -moz-transition-property: none !important;
  -ms-transition-property: none !important;
  -webkit-transition-property: none !important;
  transition-property: none !important;

  -o-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;

  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
}
*/

/*
#reset-this-parent {
  all: initial;
  * {
    all: unset;
  }
}
*/

/*
* {
  border-style: groove;
  border-color: chartreuse;
  border-width: 1px;
}
*/

/*
* {
  outline: 1px solid green;
}
*/