@charset "utf-8";


/* MOBILE*/
@media all and (max-width: 600px) {
 
  .container, .content {
    /*95%, 90%*/
    width: 99%;
  }

  div.aidscontent, div.aidsListing {
    width: 99%;
  }

  /* Fix Number positioning on mobile browsers */
  .diceText {
    
    -moz-margin-before: 10px;
    -webkit-margin-before: 10px;
    -o-margin-before: 10px;
    
    /* margin-top: 10px; */
  }
  
  
} /* EOF @media */


@media all and (max-width: 1200px) {
  .container, .content {
    /*95%, 90%*/
    width: 95%;
  }
  
  div.aidscontent, div.aidsListing {
    width: 95%;
  }
  
}