@charset "utf-8";


/* MOBILE*/
@media all and (max-width: 600px) {
 
  .container, .content {
    /*95%, 90%*/
    width: 99%;
  }

  div.aidscontent, div.aidsListing {
    width: 99%;
  }

  /* Fix Number positioning on mobile browsers */
  .dice_wrapper-font {
    /* margin-top: 10px; */
    -moz-margin-before: 10px;
    -webkit-margin-before: 10px;
    -o-margin-before: 10px;
    margin-top: 10px;
  }
  
} /* EOF @media */


@media all and (max-width: 1200px) {
  .container, .content {
    /*95%, 90%*/
    width: 95%;
  }
  
  div.aidscontent, div.aidsListing {
    width: 95%;
  }
  
  
  /* Disable all animations, transformations */
  * {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    }
  
  
}

/* Chrome 29+ */
/*
@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
    div{top:0;} 
}
*/