@charset "utf-8";


/* ~~~ Table ~~~ */

table {  
  width: 80%;
  
  border: 25px solid transparent;
  border-image: url("/img/border.png") 30 round;
  
  background: url("/img/ds3-asset-bg.png") no-repeat center center scroll;
  -moz-background-size: 120% 120%;
  -webkit-background-size: 120% 120%;
  background-size: 120% 120%;
  
  background-color: rgba(0, 0, 0, 0.7);
  
	border-collapse: separate; /* TODO */
	box-shadow: inset 0 1px 0 #3F292B;
	font-size: 1em;
	line-height: 24px;
	margin: 30px auto;
	text-align: left;
}	


table.noStyle {
  border: none;
	border-collapse: inherit;
	box-shadow: none;
	font-size: inherit;
	line-height: inherit;
	margin: 0 auto;
	text-align: left;
  
  padding: 10px;
}

table.noStyle,
thead.noStyle,
tbody.noStyle,
th.noStyle,
tr.noStyle,
td.noStyle {
  font-size: 1em;
}



th {
  background: url("/img/noise-diagonal.png"), linear-gradient(#362417, #3F292B);
  
	box-shadow: inset 0 1px 0 #3F292B;
	color: #fff;
  font-weight: bold;
	padding: 10px 15px;
	position: relative;
	text-shadow: 0 1px 0 #DB7F67;
  
  font-size: 1.2em;
}



th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}

th:first-child {
	/* border-left: 1px solid #777;	*/
	box-shadow: inset 1px 1px 0 #3F292B;
}

th:last-child {
	box-shadow: inset -1px 1px 0 #3F292B;
}

td {
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
    
  font-size: 1.1em;
}

/* Ajax edit border */
td:active,
td:focus
{
  border: 3px ridge #3f292b;
  
  outline-color: #3f292b;
  outline-style: 2px dotted;
  
}


td.emoji {
  font-size: 4.5em;
  width: 100px;
  height: 100px; /* min height for style if no or few bosses were killed*/
  text-align: center;
  
  
  /* text-replace: "Biber" "🐻" "Katz" "🐱" "Pat" "💩" "Bonfire" "🔥"; */
}


@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}



td.emoji:hover {
  animation: bounce 1s
}






td:first-child {
	box-shadow: inset 1px 0 0 #000;
}	

td:last-child {
	box-shadow: inset -1px 0 0 #000;
}	

tr {
	background: url("/img/noise-diagonal.png");	
}

tr:nth-child(odd) td {
	/* background: #f1f1f1 url("/img/noise-diagonal.png");	*/
  /* background: #A37B73 url("/img/noise-diagonal.png"); */ /*BG*/
}

tr:last-of-type td {
	box-shadow: inset 0 -1px 0 #000; 
}

tr:last-of-type td:first-child {
	box-shadow: inset 1px -1px 0 #000;
}	

tr:last-of-type td:last-child {
	box-shadow: inset -1px -1px 0 #000;
}	




/* transprent if hover on other columns */
tbody:hover td,
tbody:hover td a
{
	color: transparent;
  text-shadow: 0 0 3px #aaa;
}
tbody:hover img { opacity: 0.3 } /* extra for img */

/* active hover over column */
tbody:hover tr:hover td,
tbody:hover tr:hover td a
{
	color: #fff;
  text-shadow: 1px 1px 5px #bb754d, 1px 1px 10px #7a4930, -1px -1px 5px #bb754d, -1px -1px 10px #7a4930;
}
tbody:hover tr:hover td img { opacity: 1.0 } /* extra for img */






/********************/
/* differrent transparent color hover for emojis */
tbody:hover td.emoji,
tbody:hover td.emoji a {
	color: transparent;
  text-shadow: 0 0 3px #000;
  opacity: 0.5;
  /* text-shadow: 1px 1px 1px #bb754d, 1px 1px 1px #7a4930, -1px -1px 1px #bb754d, -1px -1px 1px #7a4930; */  /*BROWN UGLY HOVER*/
}

tbody:hover td.emoji,
tbody:hover td.emoji a:hover {
  text-shadow: 1px 1px 5px #bb754d, 1px 1px 10px #7a4930, -1px -1px 5px #bb754d, -1px -1px 10px #7a4930;
  opacity: 1.0;
} 




/*
table.edit,
table.edit th,
table.edit tr,
table.edit td,
table.edit td.edit_action,
table.edit th.edit_action,
table.edit td.edit_col
{
  all: unset;
  all: initial;
}
*/


/* Table adjustements for edit.php */
table.edit {
  
  width: auto;
  
  border: 0px;
  border-image: none;
  border-collapse: separate;
	box-shadow: inset 0 1px 0 #3F292B;
  
  
  background-color: rgba(0, 0, 0, 0.7);
  
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  
	font-size: 1em;
	line-height: 1em;
  text-align: left;
  text-shadow: 2px 2px 1px #000;
  
	margin: 0 auto;
  margin-top: 20px;
  margin-right: 5px;
  
  padding: 0;
}	

table.edit td {
  border: 1px inset #3F292B;
  padding: 5px;
  
  line-height: 1.5em;
}


td.edit_action, th.edit_action {
  text-align: center;
}


table.edit, td.edit_col {
  width: fixed;
  table-layout: fixed;
  overflow: hidden;
}



table.edit th.th-h {
  font-family: "OptimusPrinceps";
  font-size: 1.8em;
  text-align: center;
}

/*
table.edit thead:hover {
  cursor: pointer;
}
*/
table.edit tbody tr:nth-child(2):hover {
  cursor: pointer;
}



.toggleTable,
.toggleTableIndicatorMinus
{
  /*
  display: none;
  */
}



/* Tablesorter jQuery plugin*/

table.tablesorter thead tr .header {

  /*
	background-repeat: no-repeat;
	background-position: center right;
  */
    
	cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url("/img/asc.gif");
}
table.tablesorter thead tr .headerSortDown {
	background-image: url("/img/desc.gif");
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-repeat: no-repeat;
	background-position: center right;
  
  background-color: #8dbdd8;
}
