@charset "utf-8";

html {

  font-family: 'Lato', sans-serif;
  font-size: 100%;
  /* line-height: 1.15; */
  /* font-weight: 400; */
  
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%; 
  -ms-text-size-adjust: 100%;

	
  background: rgb(238, 238, 238);
  /*
  background: url('img/bg.png') repeat;
  */
  
  /* background: url(img/ds2coverbg2onlydots.png) no-repeat center center fixed; */
  background: url(img/ds1remastercover.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

	margin: 0;
	padding: 0;
	
  color: #3f292b;

  text-shadow: 0 1px 0 #fff;
  
  /* overflow: hidden; */
}



body {
  
}


article,
aside,
footer,
header,
nav,
section {
  display: block;
}


/* Dark Souls Font Style */

@font-face {
	font-family: 'OptimusPrinceps';
	src: url('OptimusPrinceps.eot');
	src: local('OptimusPrinceps'), url('OptimusPrinceps.woff') format('woff'), url('OptimusPrinceps.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_1045">Text with this font applied</p> */
.fontsforweb_fontid_1045 {
	font-family: 'OptimusPrinceps' !important;
}




strong {
	font-weight: bold; 
}

em {
	font-style: italic; 
}


a, a:link, a:visited {
  color: inherit;
	text-decoration: none;
}



a:hover, a:focus, a:active {
	color: #78110f;
  /* text-decoration: none; */
  
  /* border-bottom: 1px red dashed; */
  
  /* WAVY RED DECORATION CORRECTION LINES
  text-decoration: underline;
  -webkit-text-decoration-color: salmon;
  text-decoration-color: salmon;
  -webkit-text-decoration-style: wavy;
  text-decoration-style: wavy; 
  */
}



	
ul, ol, dl {
	padding: 0;
	margin: 0;
	border: 0;
  /* list-style: none outside; */
  list-style: none outside;
}



h1, h2, h3, h4, h5, h6 {
  color: #efefef;
	font-weight: bold; 
  text-shadow: 1px 1px 5px #bb754d, 1px 1px 10px #7a4930, -1px -1px 5px #bb754d, -1px -1px 10px #7a4930;
  
  margin: 0;
  padding: 0;
}

h1 { font-size: 3.0em; line-height: 1em; }
h2 { font-size: 2.5em; line-height: 1em; }
h3 { font-size: 1.7em; line-height: 1.5em; }
h4 { font-size: 1.5em; line-height: 1em; }
h5 { font-size: 1.2em; line-height: 1em; }
h6 { font-size: 1.1em; line-height: 1em; }


h2 {
  font-family: 'OptimusPrinceps';
  text-align: center;
}

h4 {
  font-family: 'OptimusPrinceps';
}


img.headerImage {
  /* margin-top: 0px; */
}

img, a img { 
	border: none;
}


hr {
    display: block;
    border: none;
    color: white;
    height: 1px;
    background: black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
}

.background {
  /* background: url('img/ds2coverbg2onlydots.png') fixed; */
}


.container {
	width: 95%;
	max-width: 1260px;
	min-width: 780px;
	/* background-color: #fff; */
	margin: 0 auto;
  /* background: url('img/ds2coverbg2_onlybody.png'); */
  /* background: url('img/ds3cover_onlybody_cut.png'); */
  /*
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  */
}

.header {
  text-align: center;
}

.header_Edit {
  margin-top: 10px;
}

.content {
	width: 90%; /* 90% of .container */
	margin: 0 auto;
  padding-top: 50px;
  
}


/*
.content ul, .content ol { 
  padding: 0 15px 15px 40px; 
}
*/



.aidscontent {
  width: 60%; /* % of .container !IMPORTANT */ 
	/* max-width: 60%; */
	margin: 0 auto;
}

.killedBosses {
  /*  */
}

.aidsListing {
  list-style: decimal;
  font-size: 1.1em;
  /* white-space: nowrap; */
}

.aidsText {
  font-size: 1.6em;
  font-weight: bold;
  text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
}

.weaponText {
  font-size: 1.3em;
  font-weight: bold;
  text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
}

.button {
  border-radius: 4px;
  background-color: #3F292B;
  /* background-color: #434343; */
  background: url('img/noise-diagonal-trans.png');
  border: none;
  
  color: #fefefe;
  text-shadow: 1px 1px 5px #bb754d, 1px 1px 10px #7a4930, -1px -1px 5px #bb754d, -1px -1px 10px #7a4930;
  
  text-align: center;
  font-size: 1.7em; /* Button Text Font Size */
  padding: 5px;

  width: 170px;
  height: 75px;
  
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
  text-shadow: 1px 1px 5px #bb754d;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.section {
  /* white-space: nowrap; */
}


.buttonFont {
  font-size: 1.5em;
}


.rerunFont {
  font-family: 'OptimusPrinceps';
  font-size: 3em;
  font-weight: 600;
  text-align: center;
}

/* ~~~ Table ~~~ */

table {
	background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 16px;
	line-height: 24px;
	margin: 30px auto;
	text-align: left;

}	

th {
	/* background: url(noise-diagonal.png), linear-gradient(#69302c, #bb754d); */
  background: url(img/noise-diagonal.png), linear-gradient(#A37B73, #3F292B);
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
  font-weight: bold;
	padding: 10px 15px;
	position: relative;
	text-shadow: 0 1px 0 #000;
  
  font-size: 1.2em;
  
  
}

td.emoji {
  font-size: 4.5em;
  width: 145px;
  text-align: center;
}

td.emoji:hover:after {
  font-size: 1em;
  content: '+';  
}

th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}

th:first-child {
	border-left: 1px solid #777;	
	box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
	box-shadow: inset -1px 1px 0 #999;
}

td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
  
  font-size: 1.1em;
}

td:first-child {
	box-shadow: inset 1px 0 0 #fff;
}	

td:last-child {
	border-right: 1px solid #e8e8e8;
	box-shadow: inset -1px 0 0 #fff;
}	

tr {
	background: url(img/noise-diagonal.png);	
}

tr:nth-child(odd) td {
	background: #f1f1f1 url(img/noise-diagonal.png);	
}

tr:last-of-type td {
	box-shadow: inset 0 -1px 0 #fff; 
}

tr:last-of-type td:first-child {
	box-shadow: inset 1px -1px 0 #fff;
}	

tr:last-of-type td:last-child {
	box-shadow: inset -1px -1px 0 #fff;
}	



tbody:hover td,
tbody:hover td a {
	color: transparent;
	text-shadow: 0 0 3px #aaa;

}

tbody:hover tr:hover td,
tbody:hover tr:hover td a {
	color: #444;
	text-shadow: 0 1px 0 #fff;
}



#flex-container {
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  /*
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  */
  /* width: 500px; */
  /* border: 1px black solid; */
  margin: 0 auto;
  
  
  /* EDIT: 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  */
}


#flex-container-roll {
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0 auto;
  padding-top: 15px;
  

}

.flex-item {
  /* width: 100px; */
  /* height: 200px; */
  /* border: 1px black solid; */
  /* background: #369; */
}

.flex-item-aids {
  margin-top: 35px;
}

.flex-item-footer {
  
}

.flex-item-bonfire {
  width: 111px;
  height: 124px;
}

#flex-container-edit {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0 auto;
  padding: 10px;
  
  
}

.flex-item-edit {
  margin-top: 35px;
  font-weight: 400;
}

/*
.editLink:hover:after {
  content: "   \2026 ";
}
*/

.noHover a:hover, .noHover a:focus, .noHover a:active {
  text-decoration:  none;
  border: none;
}







/* TABS */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}







  /* DEBUG */
  /*
  * {
    border-style: groove;
    border-color: coral;
    border-width: 1px;
  }
  */
  
  /* MOBILE */
  /*
  @media all and (max-width: 800px) {
    html, body, aidsContent, aidsListing {
      font-size: 1.2em;
      border-style: groove;
      border-color: coral;
      border-width: 1px;
    }
  }
  */
